*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Title 
{
    text-align: center;
}

html 
{
    background-color: white;
}

h1 
{
    text-align: center;
    font-size: 80px;
    margin-bottom: 0%;
}

h3 
{
	font-family: Taviraj;
    text-align: center;
    font-weight: normal;
}

.Email
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Email input
{
	margin-top: 10px;
	margin-bottom: 10px;
}

h5 
{
	text-align: center;
}

.Sub-title
{
    text-align: center;
}

.Main-nav
{
    text-align: center;

    margin-top: 60px;
	margin-bottom: 60px;
    padding-left: 0%;
    padding-right: 0%;
}

.Main-nav li
{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
	font-weight: bold;
}

a
{
    color: black;
    text-decoration: none;
}

.Desc
{
    text-align: center;
    margin: 0%;
}

h4
{
    text-align: left;
    margin: 0%;
    padding-top: 1.5%;
}

p
{
    text-align: left;
}

h6
{
    text-align: center;
}

.Links
{
    text-align: center;
}

.Links h5 
{
    margin-bottom: 0%;
}

#Accomodation
{
    margin-bottom: 5%;
}

#Accomodation .Desc
{
	text-align: center;
	padding-right: 0px;
}

#Transport .Desc
{
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 20px;
}

h4
{
	text-align: center;
}

a 
{
    text-decoration: none;
}

footer
{
	text-align: center;
    bottom: 0%;
}


.Picture
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 450px;
}

#Wedding .Picture
{
	display: inline;
	height: 300px;
}

#Wedding .Desc
{
	margin-left: 20px;
}

#Wedding h4 
{
	margin-left: 20px;
}


/* #Home
{
	background-image: url(AandJ.jpeg), url(Smile.jpeg);
	background-repeat: no-repeat;
	background-position: left, right;
	background-size: 30%, 30%;
	background-position-y: -15%;
}

#Wedding
{
	background-image: url(wine.jpeg), url(Smile.jpeg);
	background-repeat: no-repeat;
	background-position: left, right;
	background-size: 28%, 28%;
	background-position-y: center;
} */
