*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Title 
{
    text-align: center;
}

html 
{
    background-color: white;
}


h1 
{
    text-align: center;
    font-size: 80px;
    margin-bottom: 0%;
}

h3 
{
    text-align: center;
    font-weight: normal;
}

.Sub-title
{
    text-align: center;
}

.Main-nav
{
    text-align: center;
    margin-top: 30px;
    padding-left: 0%;
    padding-right: 0%;
}

.Main-nav li
{
    display: inline;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

a
{
    color: black;
    text-decoration: none;
}

.Desc
{
    text-align: left;
    padding-right: 30%;
    margin: 0%;
}

h4
{
    text-align: left;
    margin: 0%;
    padding-top: 1.5%;
}

p
{
    text-align: left;
}

h6
{
    text-align: center;
}

.Links
{
    text-align: center;
}

.Links h5 
{
    margin-bottom: 0%;
}

#Accomodation
{
    margin-bottom: 5%;
}

a 
{
    text-decoration: none;
}

footer
{
	text-align: center;
    position: fixed;
    padding-left: 45%;
    bottom: 0%;
}


.Picture
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

/* #Home
{
	background-image: url(AandJ.jpeg), url(Smile.jpeg);
	background-repeat: no-repeat;
	background-position: left, right;
	background-size: 30%, 30%;
	background-position-y: -15%;
}

#Wedding
{
	background-image: url(wine.jpeg), url(Smile.jpeg);
	background-repeat: no-repeat;
	background-position: left, right;
	background-size: 28%, 28%;
	background-position-y: center;
} */
